body {
  background-image: linear-gradient(
    to top,
    #ea7eb3,
    #f079a2,
    #f37690,
    #f3747e,
    #f0756c
  );
  .chakra-petch-light {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .chakra-petch-medium {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .chakra-petch-semibold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .chakra-petch-bold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .chakra-petch-light-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  .chakra-petch-regular-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  .chakra-petch-medium-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  .chakra-petch-semibold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  .chakra-petch-bold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: "Chakra Petch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* color: #e5e5cb; */
  color: #594f58;
  font-size: 1.1rem;
}
.toptitle {
  color: #594f58;
  padding: 20px;
  font-family: "Chakra Petch", sans-serif;
}
article {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: "Chakra Petch", sans-serif;
  /* border: 20px solid palevioletred;
  padding: 10px; */
}
.boxes {
  color: #594f58;
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  /* line-height: 120px; */
}
/* .boxes {
  color: #594f58;
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px; */
/* padding: 10px; */
/* min-width: 220px; */
/* margin: 20px; */
/* height: 100%;
  width: 100%; */
/* line-height: 120px; */
/* } */

#grid-container {
  border: 5px dashed #ffd8f8;
  margin: 50px 0;
  width: 800px;
  min-height: 420px;
  /* height: 420px; */
  padding: 10px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
#grid-container > * {
  width: 100%;
  height: 100%;
}
#boxq1big:hover {
  background-color: #ebbc00;
  transition: background-color 0.3s, color 0.3s;
}
#boxq1small:hover {
  background-color: #ebbc00;
  transition: background-color 0.3s, color 0.3s;
}
/* #boxq1small:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
} */
#boxq2big:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq2small:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq3small:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq3big:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq4small:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq4big:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq5small:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq5big:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq6small:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq6big:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq7small:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq7big:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq8small:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq8big:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq9small:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq9big:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq10small:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq10big:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq11small:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq11large:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq12small:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq12large:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq13small:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#boxq13large:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
/* .boxes {
  width: 300px;
  margin: 10px;
} */
#boxq1small {
  background-color: #ffc1bf;
  /* grid-column: 1/4; */
}
/* #box1 {
  background-color: #810810;
  grid-column: 1/4;
} */
#boxq1big {
  background-color: #ffdad0;
  grid-row: 1/4;
  text-align: center;
  padding: 80px;
}
#boxq2small {
  background-color: #ffc1bf;
}
#boxq2big {
  background-color: #ffdad0;
  grid-row: 1/4;
  text-align: center;
  padding: 120px;
}
#boxq3small {
  background-color: #ffc1bf;
}
#boxq3big {
  background-color: #ffdad0;
  grid-row: 1/4;
  text-align: center;
  padding: 120px;
}
#boxq4small {
  background-color: #ffc1bf;
}
#boxq4big {
  background-color: #ffdad0;
  grid-row: 1/4;
  text-align: center;
  padding: 120px;
}
#boxq5small {
  background-color: #ffc1bf;
}
#boxq5big {
  background-color: #ffdad0;
  grid-row: 1/4;
  text-align: center;
  padding: 60px;
}
#boxq6small {
  background-color: #ffc1bf;
}
#boxq6big {
  background-color: #ffdad0;
  grid-row: 1/4;
  text-align: center;
  padding: 60px;
}
#boxq7small {
  background-color: #ffc1bf;
}
#boxq7big {
  width: 500px;
  background-color: #ffdad0;
  grid-row: 1/4;
  text-align: center;
  padding: 40px;
}
#boxq8small {
  background-color: #ffc1bf;
}
#boxq8big {
  width: 500px;
  background-color: #ffdad0;
  grid-row: 1/4;
  text-align: center;
  padding: 40px;
}
#boxq9small {
  background-color: #ffc1bf;
}
#boxq9big {
  width: 500px;
  background-color: #ffdad0;
  grid-row: 1/4;
  text-align: center;
  padding: 40px;
}
#boxq10small {
  background-color: #ffc1bf;
}
#boxq10big {
  width: 500px;
  background-color: #ffdad0;
  grid-row: 1/4;
  text-align: center;
  padding: 40px;
}
#boxq11small {
  background-color: #ffc1bf;
}
#boxq11big {
  width: 500px;
  background-color: #ffdad0;
  grid-row: 1/4;
  text-align: center;
  padding: 40px;
}
#boxq12small {
  background-color: #ffc1bf;
}
#boxq12big {
  width: 500px;
  background-color: #ffdad0;
  grid-row: 1/4;
  text-align: center;
  padding: 40px;
}
#boxq12small {
  background-color: #ffc1bf;
}
