body {
  background-image: linear-gradient(
    to top,
    #ea7eb3,
    #f079a2,
    #f37690,
    #f3747e,
    #f0756c
  );
  .chakra-petch-light {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .chakra-petch-medium {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .chakra-petch-semibold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .chakra-petch-bold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .chakra-petch-light-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  .chakra-petch-regular-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  .chakra-petch-medium-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  .chakra-petch-semibold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  .chakra-petch-bold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: "Chakra Petch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* color: #e5e5cb; */
  color: #594f58;
  font-size: 1.1rem;
}
.toptitle {
  color: #594f58;
  padding: 20px;
  font-family: "Chakra Petch", sans-serif;
}
article {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: "Chakra Petch", sans-serif;
  /* border: 20px solid palevioletred;
  padding: 10px; */
}
.boxes {
  color: #594f58;
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  line-height: 120px;
}

#grid-container {
  border: 5px dashed #ffd8f8;
  margin: 50px 0;
  width: 600px;
  min-height: 420px;
  padding: 10px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#grid-container > * {
  width: 100%;
  height: 100%;
}
#box1:hover {
  background-color: #ebbc00;
  transition: background-color 0.3s, color 0.3s;
}
#box2:hover {
  background-color: #e7c100;
  transition: background-color 0.3s, color 0.3s;
}
#box3:hover {
  background-color: #e3c800;
  transition: background-color 0.3s, color 0.3s;
}
#box4:hover {
  background-color: #dfce00;
  transition: background-color 0.3s, color 0.3s;
}
#box5:hover {
  background-color: #dbcf00;
  transition: background-color 0.3s, color 0.3s;
}
#box6:hover {
  background-color: #d7cf00;
  transition: background-color 0.3s, color 0.3s;
}
#box7:hover {
  background-color: #d3ce00;
  transition: background-color 0.3s, color 0.3s;
}
#box8:hover {
  background-color: #cecc00;
  transition: background-color 0.3s, color 0.3s;
}
#box9:hover {
  background-color: #c8c800;
  transition: background-color 0.3s, color 0.3s;
}
#box10:hover {
  background-color: #bfc200;
  transition: background-color 0.3s, color 0.3s;
}
#box11:hover {
  background-color: #b4b900;
  transition: background-color 0.3s, color 0.3s;
}
#box12:hover {
  background-color: #a4ab00;
  transition: background-color 0.3s, color 0.3s;
}
#box13:hover {
  background-color: #858d00;
  transition: background-color 0.3s, color 0.3s;
}

.boxes {
  align-items: center;
}
#box1 {
  background-color: #ffc1bf;
  grid-column: 1/4;
}
/* #box1 {
  background-color: #810810;
  grid-column: 1/4;
} */
#box2 {
  background-color: #ffdad0;
}
#box3 {
  background-color: #ffe0cd;
}
#box4 {
  background-color: #ffdfc0;
}
#box5 {
  background-color: #ffdbaf;
}
#box6 {
  background-color: #ffd59b;
}
#box7 {
  background-color: #ffcf87;
}
#box8 {
  background-color: #ffc973;
}
#box9 {
  background-color: #ffc360;
}
#box10 {
  background-color: #ffbe4e;
}
#box11 {
  background-color: #ffba3c;
}
#box12 {
  background-color: #ffb62b;
}
#box13 {
  background-color: #ffb41c;
}
