body {
  background-image: linear-gradient(
    to top,
    #ea7eb3,
    #f079a2,
    #f37690,
    #f3747e,
    #f0756c
  );
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* color: #e5e5cb; */
  color: #ffffff;
  font-size: 1.1rem;
}

.toptitle {
  color: rgb(51, 0, 1);
  padding: 20px;
}
article {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  /* border: 20px solid palevioletred;
  padding: 10px; */
}
.boxes {
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  line-height: 120px;
}

#grid-container {
  border: 5px dashed #e5e5cb;
  margin: 50px 0;
  width: 600px;
  height: 480px;
  padding: 10px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
#grid-container > * {
  width: 100%;
  height: 100%;
}
.boxes:hover {
  background-color: #53538a;
}
.boxes {
  align-items: center;
}
#box1 {
  background-color: #810810;
  grid-column: 1/4;
}
#box2 {
  background-color: #8e1120;
}
#box3 {
  background-color: #9c1c32;
}
#box4 {
  background-color: #aa2945;
}
#box5 {
  background-color: #b7375a;
}
#box6 {
  background-color: #c44770;
}
#box7 {
  background-color: #d25886;
}
#box8 {
  background-color: #de6b9c;
}
#box9 {
  background-color: #ea7eb3;
}
#box10 {
  background-color: #f693c8;
}
#box11 {
  background-color: #ffa8db;
}
#box12 {
  background-color: #c45681;
}
#box13 {
  background-color: #811c31;
}
