body {
  background-image: linear-gradient(
    to top,
    #ea7eb3,
    #f079a2,
    #f37690,
    #f3747e,
    #f0756c
  );
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* color: #e5e5cb; */
  color: #ffd8f8;
  font-size: 1.1rem;
}
.toptitle {
  color: #ffd8f8;
  padding: 20px;
}
article {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  /* border: 20px solid palevioletred;
  padding: 10px; */
}
.boxes {
  color: #811c31;
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  line-height: 120px;
}

#grid-container {
  border: 5px dashed #ffd8f8;
  margin: 50px 0;
  width: 600px;
  height: 420px;

  min-height: 1px;
  padding: 10px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
#grid-container > * {
  width: 100%;
  height: 100%;
}
#box1:hover {
  background-color: #4c2324;
}
#box2:hover {
  background-color: #5e1d1f;
}
#box3:hover {
  background-color: #6f1116;
}
#box4:hover {
  background-color: #810810;
}
#box5:hover {
  background-color: #7a070e;
}
#box6:hover {
  background-color: #72060c;
}
#box7:hover {
  background-color: #6b050a;
}
#box8:hover {
  background-color: #630408;
}
#box9:hover {
  background-color: #5b0306;
}
#box10:hover {
  background-color: #520205;
}
#box11:hover {
  background-color: #490104;
}
#box12:hover {
  background-color: #3e0102;
}
#box13:hover {
  background-color: #2e0001;
}
.boxes {
  align-items: center;
}
#box1 {
  background-color: #fb0f21;
  grid-column: 1/4;
}
/* #box1 {
  background-color: #810810;
  grid-column: 1/4;
} */
#box2 {
  background-color: #ffd8f8;
}
#box3 {
  background-color: #ffd8f8;
}
#box4 {
  background-color: #ffd8f8;
}
#box5 {
  background-color: #ffd8f8;
}
#box6 {
  background-color: #ffd8f8;
}
#box7 {
  background-color: #ffd8f8;
}
#box8 {
  background-color: #ffd8f8;
}
#box9 {
  background-color: #ffd8f8;
}
#box10 {
  background-color: #ffd8f8;
}
#box11 {
  background-color: #ffd8f8;
}
#box12 {
  background-color: #ffd8f8;
}
#box13 {
  background-color: #ffd8f8;
}
