/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: rgb(33, 51, 59);
  display: flex;
  text-align: center;
  margin: 60px;
  max-width: 1000px;
  align-items: baseline;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  font-size: 1.1rem;
  gap: 1.5rem;
  justify-content: left;
}

.outer {
  margin-left: 500px;
  position: absolute;
  border: 2px dashed #e5e5cb7a;
  width: 400px;
  min-height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
}
/* .outer {
  border: 5px dashed black;
  align-items: baseline;
  width: 200px;
} */

#drawer-button {
  padding: 10px 30px;
  font-size: 1.3rem;
  border-radius: 12px;
  cursor: pointer;
  justify-content: left;
  background-color: transparent;
  border-color: coral;
  color: #e5e5cb;
  position: absolute;
  z-index: 1;
  transition: border-color 0.8s ease scale 0.7s linear rotate 0.5s linear;
  /* background-color: aquamarine;
    transition: background-color 0.3s linear scale 0.5s ease; */
}

button:hover {
  scale: 0.95;
  border-color: cyan;
  /* rotate: 10deg; */
}

#side-drawer {
  justify-content: left;
  position: absolute;
  /* z-index: -1; */
  top: 0;
  left: -200px;
  width: 200px;
  min-height: 100vh;
  /* transition: transform 0.5s ease-in-out; */
  transition: translate 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-right: 2px dashed #e5e5cb7a;
}

#side-drawer ul > li {
  padding: 30px;
}

#Home:hover {
  background-color: black;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

#Contacts:hover {
  background-color: black;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
#About-me:hover {
  background-color: black;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
#Others:hover {
  background-color: black;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

img:hover {
  cursor: pointer;
}

.description {
border: 1px dashed black;
justify-content: center;
margin-left: 500px;
position:absolute;
}
/* .Arrows {
  justify-content: center;
  margin: 500px;
  display: flex;
} */

/* .image-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.image-container img.active {
  display: block;
}
  

